@page
@model AdminModel
@{
    ViewData["Title"] = "ScriptRunner Admin";
}
<h1>@ViewData["Title"]</h1>

<br />

<form method="post" action="/Admin" id="form" autocomplete="off">
@Html.AntiForgeryToken()

    <div class="container">
        <div class="row withGap">
            <div class="col-2 label">
                <label>Local Nuget Folder</label>
            </div>
            <div class="col-lg">
                <label>@Model.NugetFolder</label>
            </div>
        </div>
        <div class="row withGap">
            <div class="col-2 label">
                <label>Local Script Folder</label>
            </div>
            <div class="col-lg">
                <label>@Model.ScriptFolder</label>
            </div>
        </div>
        <div class="row withGap">
            <div class="col-2 label">
                <label>Remote Git Repo</label>
            </div>
            <div class="col-lg">
                <label>@Model.GitRepo</label>
            </div>
        </div>
        <div class="row withGap">
            <div class="col-2 label">
                <label>Git Repo Tags</label>
            </div>
            <div class="col-lg">
                <label>@Model.Tags</label>
            </div>
        </div>
        <br />
        <div class="row withGap">
            <div class="col-2 label">
                <label>Local Packages</label>
            </div>
            <div class="col-lg tableDiv">
                <table id='localScripts' class="display" style="width:100%">
                </table>
            </div>
        </div>
        <div class="row withGap">
            <div class="col-2 label">
                <label></label>
            </div>
            <div class="col-lg" >
                <div style="display:inline-block">
                    <input id="reload" type="submit" class="btn btn-primary" value="Reload Local Scripts" asp-page-handler="Reload" />

                    <span class="btn btn-primary btn-file" id="uploadFile2">
                        Import SQL File <input id="uploadFile" type="file" value="Select SQL script" accept=".sql" />
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row withGap">
            <div class="col-2 label">
                <label>Remote Packages</label>
            </div>
            <div class="col-lg tableDiv">
                <table id='remoteScripts' class="display" style="width:100%">
                </table>
            </div>
        </div>
        <div class="row withGap">
            <div class="col-2 label">
                <label></label>
            </div>
            <div class="col-lg">                
                <input id="remote-sync" type="submit" class="btn btn-primary" value="Import Selected Packages" asp-page-handler="Sync" disabled />
            </div>
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ScriptRunner Script Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="newScript">
                    <input type="hidden" id="new-filename" />

                    <dl>                        
                        <dt class="new-dt">Id</dt>
                        <dd><input type="text" id="new-id" class="new-input" /></dd>
                        <dt class="new-dt">System</dt>
                        <dd><input type="text" id="new-system" class="new-input" /></dd>
                        <dt class="new-dt">Title</dt>
                        <dd><input type="text" id="new-title" class="new-input" /></dd>
                        <dt class="new-dt">Description</dt>
                        <dd><input type="text" id="new-description" class="new-input" /></dd>
                        <dt class="new-dt">ConnectionString</dt>
                        <dd><input type="text" id="new-connectionString" class="new-input" /></dd>
                        <dt class="new-dt">Script</dt>
                        <dd><textarea id="new-script" class="new-input new-input-textarea"></textarea></dd>
                        <dt class="new-dt">Params</dt>
                        <dd>
                            <dl id="new-params" class="new-params-dl">
                            </dl>
                        </dd>
                    </dl>
                    <div id="new-filename"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="new-import">Import Script</button>
                    <label for="importAndRun">Run After Import</label>
                    <input type="checkbox" id="runAfterImport" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/admin.js" asp-append-version="true"></script>    
    <script src="~/lib/highlight-within-textarea/jquery.highlight-within-textarea.js"></script>
}
